body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
}

.calculator {
    background-color: darkslategrey;
    border-radius: 15px;
    padding: 20px;

}
.screen {
    width: 225px; 
    background-color: lavenderblush;
    font-size: 30px;
    text-align: end;
    padding: 5px;
}

.buttons {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: burlywood;
    border: none;
    color: black;
    font-size: 40px;
    height: 50px;
    width: 50px;
    border-radius: 35px;
    margin: 5px;
}
button:hover {
    background-color: rgb(111, 110, 100);
}
button:active {
    background-color: rgb(232, 232, 232);
}

#equals {
    background-color: limegreen;
}
#equals:hover {
    background-color: darkgreen;
}
